.root { -fx-font-family: "Segoe UI"; }
.button-admin { -fx-background-color: #2c3e50; -fx-text-fill: white; }
.button-passenger { -fx-background-color: #27ae60; -fx-text-fill: white; }

/* Senaryo 1 için Koltuk Stilleri */
.seat { -fx-border-color: #bdc3c7; -fx-border-radius: 3; }
.seat-occupied { -fx-background-color: #e74c3c; } /* Dolu - Kırmızı */
.seat-empty { -fx-background-color: #2ecc71; }    /* Boş - Yeşil */
.seat-business { -fx-border-color: #f1c40f; -fx-border-width: 2; } /* Business - Altın */